/* artist-page */

.artist-page__header {
    padding: 150px 30px 30px 30px;
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--spotify-dark-grey);
}

.artist-page__photo-wrapper {
    height: 232px;
    width: 232px;
    min-width: 192px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, .15);
}

@media (max-width:1280px) {
    .artist-page__photo-wrapper {
        height: 192px;
        width: 192px;
    }
}

.artist-page__photo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.artist-page__info {
    padding-left: 20px;
}

.upprove-sign {
    display: flex;
    align-items: center;
}

.upprove-sign__title {
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    padding-left: 5px;
}

.artist-page__name {
    font-size: 100px;
    line-height: normal;
    letter-spacing: -7px;
    cursor: default;
}

@media (max-width:800px) {
    .artist-page__name {
        font-size: 80px;
    }
}

.artist-page__popular-tracks {
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--spotify-main-black) 220px), var(--spotify-extra-black);
    padding: 20px 30px 50px 30px;
}

.artist-page__controls {
    display: flex;
    align-items: center;
}

.artist-page__subscribe-button {
    margin: 0 30px;
    padding: 7px 15px;
    border: var(--spotify-dark-grey) solid 1px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: normal;
    cursor: default;
}

.artist-page__subscribe-button:hover {
    border-color: white;
}

.artist-page__other {
    fill: var(--spotify-main-grey);
}

.artist-page__other:hover {
    fill: white;
}

.popular-tracks__title {
    padding: 20px 0;
    font-size: 22px;
    letter-spacing: -1px;
}

.popular-tracks__more {
    margin: 20px 0 0 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--spotify-main-grey);
    cursor: default;
}

.popular-tracks__more:hover {
    color: white;
}