.header {
  padding: 12px 20px 12px 30px;
  display: flex;
  align-items: center;
  z-index: 120;

  &_sticky {
    position: sticky;
    top: 0;
    background-color: var(--spotify-main-black);
  }
}

.page-pointers {
  display: flex;

  &__arrow {
    background-color: black;
    padding: 4px;
    border-radius: 50%;
    fill: white;
    opacity: 0.7;
    cursor: not-allowed;

    margin-right: 17px;

    &_right {
      transform: rotate(180deg);
    }

    &_active {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.search-form {
  background-color: white;
  border-radius: 100px;
  padding: 8px 12px;

  display: flex;

  &__button {
    border: none;
    padding: 0;
    background: none;
    height: 24px;
    width: 24px;
  }

  &__input {
    font-size: 14px;
    font-weight: 400;

    border: none;
    outline: none;
    padding: 0 10px;
    width: 295px;
  }

  &__clear-icon {
    opacity: 0;
    transition: 0.5s;

    &_active {
      opacity: 1;
    }
  }
}

.account {
  padding: 3px;
  background-color: black;
  border-radius: 100px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;

  &_fixed {
    position: fixed;
    top: 10px;
    right: 30px;
  }

  &_margin-left-auto {
    margin-left: auto;
  }

  &:hover {
    background-color: var(--spotify-extra-black);
  }

  &__icon {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-container {
      background-color: var(--spotify-dark-grey);
      border-radius: 50%;
      height: 27px;
      width: 27px;
      position: relative;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
  }

  &__arrow {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-container {
      height: 27px;
      width: 27px;
      position: relative;
    }
  }
}

@media (max-width: 1023px) {
  .page-pointers__arrow_right {
    display: none;
  }
  .account__name {
    display: none;
  }
  .account__arrow {
    display: none;
  }
}
