@font-face {
	font-family: 'Spotify circular';
	src: url('fonts/CircularStd-Bold.eot');
	src: local('☺'), url('fonts/CircularStd-Bold.woff') format('woff'), url('fonts/CircularStd-Bold.ttf') format('truetype'), url('fonts/CircularStd-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Spotify circular';
	src: url('fonts/CircularStd-Book.eot');
	src: local('☺'), url('fonts/CircularStd-Book.woff') format('woff'), url('fonts/CircularStd-Book.ttf') format('truetype'), url('fonts/CircularStd-Book.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

h3, h2 {
    margin: 0;
}

.main::-webkit-scrollbar {
    width: 13px;
}

.main::-webkit-scrollbar-track {
    background-color: #121212;
    margin-block: 1px;
}

.main::-webkit-scrollbar-thumb {
    background-color: #5A5A5A;
    border: 1px solid #121212;
}

.link {
    text-decoration: none;
}

.body {
    margin: 0;
    overflow: hidden;
    font-family: 'Spotify circular', Helvetica;
    line-height: 1.6;

    display: grid;
    grid-template: minmax(485px, 87vh) minmax(13vh, 1fr) / 250px 1fr;
    grid-template-areas: "side-bar main"
                         "footer footer";
}

/* side-bar */

.side-bar {
    grid-area: side-bar;
    font-size: 12px;
    font-weight: 700;
    
    background-color: #000;
    color: #B3B3B3;
    position: relative;
    overflow: hidden;
}

.menu {
    height: 100%;
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: column;
}

.menu__empty-section {
    flex: 1 0 100px;
}

.menu__top {
    margin: 15px 0 25px 0;
}

.menu__center::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    border-radius: 1px;
    background-color: #282828;
    margin-top: 15px;
}

.menu__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__link {
    color: #B3B3B3;
    display: flex;
    align-items: center;
    transition: .5s;

    margin-top: 15px;
}

.menu__link:hover {
    color: #fff;
}

.menu__link:hover .menu__img {
    fill: #fff;
}

.menu__link:hover .create-playlist-img {
    background-color: #fff;
}

.menu__link:hover .favorite-tracks-img {
    opacity: 1;
}

.menu__link_active {
    color: #fff;
}

.menu__link_active .menu__img {
    fill: #fff;
}

.menu__img {
    fill: #b3b3b3;
    margin-right: 15px;

    transition: .5s;
}

.create-playlist-img {
    width: 24px;
    height: 24px;
    background-color: #b3b3b3;
    border-radius: 1px;
    position: relative;
}

.create-playlist-img__line {
    height: 45%;
    width: 1px;
    border-radius: 1px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 27.5%;
}

.create-playlist-img__line_horizontal {
    transform: rotate(90deg);
}

.favorite-tracks-img {
    width: 24px;
    height: 24px;
    background: linear-gradient(to bottom right, rgb(73, 17, 244), rgb(192, 231, 218));
    opacity: 0.7;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-tracks-img__heart {
    fill: #fff;
}

.download-img {
    margin-right: 19px;
}

/* main */

.main {
    color: #fff;
    grid-area: main;
    overflow-y: scroll;
    background-color: #121212;
}

/* header */

.header {
    padding: 12px 20px 12px 30px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #121212;
}

.page-pointers {
    display: flex;
}

.page-pointers__arrow {
    background-color: #050505;
    padding: 4px;
    border-radius: 50%;
    fill: #fff;
    opacity: .7;
    cursor: not-allowed;

    margin-right: 17px;
}

.page-pointers__arrow_right {
    transform: rotate(180deg);
}

.page-pointers__arrow_active {
    opacity: 1;
    cursor: pointer;
}

.search-form {
    background-color: #fff;
    border-radius: 100px;
    padding: 8px 12px;

    display: flex;
}

.search-form__input {
    font-size: 14px;
    font-weight: 400;

    border: none;
    outline: none;
    padding: 0 10px;
    width: 295px;
}

.search-form__clear-icon {
    opacity: 0;
    transition: .5s;
}

.search-form__input:focus + .search-form__clear-icon {
    opacity: 1;
}

.account {
    padding: 3px;
    background-color: #050505;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: .5s;
    cursor: pointer;
}

.account:hover {
    background-color: #282828;
}

.account__icon-wrapper {
    background-color: #535353;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    padding: 3.5px 3.5px 3.5px 6px;
}

.account__icon {
    fill: #fff;
}

.account__name {
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
}

.account__arrow {
    fill: #fff;
    margin-top: 7px;
}

@media (max-width: 1023px) {
    .page-pointers__arrow_right {
        display: none;
    }
    .account__name {
        display: none;
    }
    .account__arrow {
        display: none;
    }
}

/* content */

.content {
    letter-spacing: -1px;
    font-weight: 900;
    padding: 30px 20px 40px 30px;
}

.content__title {
    margin-bottom: 20px;
}

.content__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    gap: 20px;
}

.content-item {
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.content-item__title {
    padding: 15px;
    word-wrap: break-word;
    position: absolute;
}

.content-item__picture {
    transform: rotate(25deg);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    position: absolute;
    right: -18px;
    bottom: -5px;
}

.content-item_podcast {
    background-color: #27856A;
}

.content-item_for-you {
    background-color: #1E3264;
}

.content-item_chart {
    background-color: #8D67AB;
}

.content-item_new-music {
    background-color: #E8115B;
}

.content-item_rec {
    background-color: #8D67AB;
}

.content-item_concert {
    background-color: #1E3264;
}

.content-item_pop {
    background-color: #8D67AB;
}

/* player */

.player {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    overflow: hidden;
}

.player::before {
    width: 214px;
    content: "";
}

.player__controls {
    margin: 0 auto;
}

.controls {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls__btn {
    fill: #535353;
}

.controls__btn-container {
    height: 32px;
    width: 32px;
    padding: 8px;
    margin: 1px;
    background-color: #535353;
    border-radius: 50%;
    transition: .1s;
}

.controls__btn-container:hover {
    height: 34px;
    width: 34px;
    padding: 9px;
    margin: 0px;
}

.controls__btn_reflected {
    transform: rotate(180deg);
}

.controls__btn_black {
    fill: #000;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #87A7A7;
}

.progress-bar__main {
    width: 500px;
    height: 4px;
    border-radius: 2px;
    background-color: #535353;
    margin: 15px 5px;
}

.player__side-controls {
    margin-right: 16px;
}

.side-controls {
    display: flex;
    justify-content: flex-end;
}

.side-controls__btn {
    fill: #B3B3B3;
    margin: 0 8px;
}

.side-controls__btn:hover {
    fill: #fff;
}

.side-controls__volume {
    display: flex;
    align-items: center;
    position: relative;
}

.side-controls__volume-bar {
    width: 94px;
    height: 4px;
    border-radius: 2px;
    background-color: #b3b3b3;
}

.side-controls__volume-slider {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 95%;
    display: none;
}

.side-controls__volume:hover .side-controls__volume-bar {
    background-color: #1DB954;
}

.side-controls__volume:hover .side-controls__volume-slider {
    display: block;
}